<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

  <appSettings>

    <!--client credentials-->
    <add key="clientId" value="7d4d36d2" />
    <add key="clientSecret" value="4c416303a368a9c95a94a5c0a46ba9c5" />

    <!-- Service urls -->
    <add key="security" value="Security.svc" />
    <add key="property" value="Properties.svc" />
    <add key="member" value="Members.svc" />

  </appSettings>

</configuration>
